/* ------------------------------------------------------------
Author: Sonia Hashim
Date  : 02/17/15
Notes : pure css recreation of screenshot of Wordstream site. 
---------------------------------------------------------------*/